@import "./utilities/variables";
@import "./utilities/mixins";

// Typography
.video-game-font {
    font-family: $video-game-font, Arial, Helvetica, sans-serif;
}

.text-small {
    font-size: $font-size-small !important;
}

// Colors
.white {
    color: $color-white !important;
}
.sky-blue {
    color: $color-sky-blue !important;
}
.light-cyan {
    color: $color-light-cyan !important;
}
.yellow {
    color: $color-yellow !important;
}
.red {
    color: $color-red !important;
}
.blue {
    color: $color-blue !important;
}
.purple {
    color: $color-purple !important;
}
.black {
    color: $color-black !important;
}
.orange {
    color: $color-orange !important;
}

.white-background {
    background-color: $color-white !important;
}
.sky-blue-background {
    background-color: $color-sky-blue !important;
}
.light-cyan-background {
    background-color: $color-light-cyan !important;
}
.yellow-background {
    background-color: $color-yellow !important;
}
.red-background {
    background-color: $color-red !important;
}
.blue-background {
    background-color: $color-blue !important;
}
.purple-background {
    background-color: $color-purple !important;
}
.black-background {
    background-color: $color-black !important;
}
.orange-background {
    background-color: $color-orange !important;
}

.bg-grad-red-orange {
    @include bg-grad-red-orange;
}

.code-background {
    background-image: url("/img/code-background.png");
    background-size: cover;
}

// Positioning
.flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.full-width {
    width: 100% !important;
}

.half-width {
    width: 50% !important;
}

.full-height {
    height: 100% !important;
}

.full-page-height {
    height: 150vh !important;

    @media (min-width: $breakpoint-md) {
        height: 100vh !important;
    }
}

.half-page-height {
    height: 62.5vh !important;

    @media (min-width: $breakpoint-md) {
        height: 50vh !important;
    }
}

.breakout {
    width: 110vw;
    height: 100vh;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -55vw;
    margin-right: -50vw;
}

.mt-6 {
    margin-top: 4rem !important;
}

.mb-6 {
    margin-bottom: 4rem !important;
}

.mx-6 {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
}

.my-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}
