// Colors
$color-purple: #694d75;
$color-white: rgb(250, 250, 250);
$color-black: #191308;
$color-sky-blue: #7fb7be;
$color-light-cyan: #d3f3ee;
$color-yellow: #dacc3e;
$color-red: #bc2c1a;
$color-blue: #1b5299;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$video-game-font: "VT323";
$h1-font-size-big: 48px;
$h1-font-size-small: 32px;
