// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "main";
@import "layouts";
@import "components";

// Variables, Mixins
@import "utilities";
@import "utilities/mixins";

body {
    font-family: $body-font;
    font-size: $font-size-base;
    background-color: $color-gray;
    color: $color-white;
    box-shadow: inset 0px 4px 100px 100px rgba(0, 0, 0, 0.2);
    line-height: $line-height-base;
}

h1 {
    font-size: $h1-font-size-big;
}

.content {
    padding: 2rem;
}

.navbar {
    @include bg-grad-blue-purple;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;

    .nav-button {
        background: none;
        color: $color-white;
        padding: 0;
        margin: 0;
    }

    .nav-link {
        padding: 0 !important;
        &:hover {
            color: $color-white;
            text-decoration: none;
        }
    }
}

// Cards
.card {
    // background-color: $color-sky-blue !important;
    color: $color-black !important;
    border: none;
    box-shadow: $card-box-shadow;
}

.card-header {
    @include bg-grad-blue-purple;
    color: $color-white !important;
}

// Buttons
.btn-primary {
    background-color: $color-blue !important;
}

.btn {
    border: none;
    color: $color-white;
    padding: 0.25rem 3rem;

    &:hover {
        text-decoration: none;
        color: $color-white;
    }
}
