@import "variables";

// Colors
.white {
    color: $color-white;
}

.white-background {
    background-color: $color-white;
}

.purple {
    color: $color-purple;
}

.purple-background {
    background-color: $color-purple;
}

.black {
    color: $color-black;
}

.black-background {
    background-color: $color-black;
}

// Positioning
.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 95vh;
}
