// Colors
$color-purple: #694D75;
$color-white: rgb(250, 250, 250);
$color-black: #191308;
$color-sky-blue: #7FB7BE;
$color-light-cyan: #D3F3EE;
$color-yellow: #DACC3E;
$color-red: #BC2C1A;
$color-blue: #1B5299;

// Fonts
$video-game-font: 'VT323';

$h1-font-size-big: 48px;
$h1-font-size-small: 32px;