// Breakpoints
$breakpoint-md: 768px;

// Colors
$color-purple: #9b51e0;
$color-white: rgb(250, 250, 250);
$color-black: #191308;
$color-light-gray: #c4c4c4;
$color-gray: #4f4f4f;
$color-sky-blue: #7fb7be;
$color-light-cyan: #d3f3ee;
$color-yellow: #ffe818;
$color-red: #eb5757;
$color-blue: #2273e0;
$color-orange: #f2994a;
$color-green: #27ae60;
$color-green-2: #6fcf97;
$color-red-2: #bc2c1a;
$color-flickr-pink: #f72585ff;
$color-byzantine: #b5179eff;
$color-purple-2: #7209b7ff;
$color-purple-3: #560badff;
$color-trypan-blue: #480ca8ff;
$color-trypan-blue-2: #3a0ca3ff;
$color-persian-blue: #3f37c9ff;
$color-ultramarine-blue: #4361eeff;
$color-dodger-blue: #4895efff;
$color-vivid-sky-blue: #4cc9f0ff;

$card-box-shadow: 2px 7px 20px 4px #333;

// Body
$body-bg: #f8fafc;

// Typography
$video-game-font: "VT323";
$body-font: "Ramabhadra";

$line-height-base: 1.6;

$font-size-base: 16px;
$font-size-small: 14px;

$h1-font-size-big: 48px;
$h1-font-size-small: 32px;

$h2-font-size-big: 40px;
$h2-font-size-small: 28px;
